:root {
  --tedi-accent-100: var(--tedi-orange-100);
  --tedi-accent-200: var(--tedi-orange-200);
  --tedi-accent-300: var(--tedi-orange-300);
  --tedi-accent-400: var(--tedi-orange-400);
  --tedi-accent-500: var(--tedi-orange-500);
  --tedi-accent-600: var(--tedi-orange-600);
  --tedi-accent-700: var(--tedi-orange-700);
  --tedi-accent-800: var(--tedi-orange-800);
  --tedi-alpha-01: rgb(0 0 0 / 0.1%);
  --tedi-alpha-10: rgb(0 0 0 / 10%);
  --tedi-alpha-14: rgb(0 0 0 / 14%);
  --tedi-alpha-20: rgb(0 0 0 / 20%);
  --tedi-alpha-40: rgb(23 23 23 / 40%);
  --tedi-alpha-80: rgb(34 35 43 / 80%);
  --tedi-alpha-primary-08: rgb(0 90 163 / 8%);
  --tedi-alpha-primary-20: rgb(0 90 163 / 20%);
  --tedi-alpha-white-10: rgb(255 255 255 / 10%);
  --tedi-alpha-white-14: rgb(255 255 255 / 14%);
  --tedi-alpha-white-20: rgb(255 255 255 / 20%);
  --tedi-alpha-white-30: rgb(255 255 255 / 30%);
  --tedi-alpha-white-50: rgb(255 255 255 / 50%);
  --tedi-alpha-white-80: rgb(255 255 255 / 80%);
  --tedi-blue-100: rgb(231 240 246);
  --tedi-blue-200: rgb(208 225 238);
  --tedi-blue-300: rgb(153 189 218);
  --tedi-blue-400: rgb(69 135 188);
  --tedi-blue-500: rgb(51 123 181);
  --tedi-blue-600: rgb(0 90 163);
  --tedi-blue-700: rgb(0 66 119);
  --tedi-blue-800: rgb(0 54 98);
  --tedi-borders-01: 0.0625rem;
  --tedi-borders-02: 0.125rem;
  --tedi-borders-03: 0.1875rem;
  --tedi-borders-04: 0.25rem;
  --tedi-containers-01: 160px;
  --tedi-containers-02: 240px;
  --tedi-containers-03: 312px;
  --tedi-containers-04: 340px;
  --tedi-containers-05: 460px;
  --tedi-containers-06: 480px;
  --tedi-containers-07: 552px;
  --tedi-containers-08: 616px;
  --tedi-containers-09: 820px;
  --tedi-containers-10: 840px;
  --tedi-containers-11: 1024px;
  --tedi-containers-12: 1416px;
  --tedi-containers-13: 1232px;
  --tedi-dimensions-00: 0;
  --tedi-dimensions-01: 0.0625rem;
  --tedi-dimensions-02: 0.125rem;
  --tedi-dimensions-03: 0.25rem;
  --tedi-dimensions-04: 0.375rem;
  --tedi-dimensions-05: 0.5rem;
  --tedi-dimensions-06: 0.625rem;
  --tedi-dimensions-07: 0.75rem;
  --tedi-dimensions-08: 0.8125rem;
  --tedi-dimensions-09: 0.875rem;
  --tedi-dimensions-10: 1rem;
  --tedi-dimensions-11: 1.125rem;
  --tedi-dimensions-12: 1.375rem;
  --tedi-dimensions-13: 1.5rem;
  --tedi-dimensions-14: 2rem;
  --tedi-dimensions-15: 2.25rem;
  --tedi-dimensions-16: 2.5rem;
  --tedi-dimensions-17: 2.75rem;
  --tedi-dimensions-18: 3rem;
  --tedi-dimensions-19: 3.5rem;
  --tedi-dimensions-20: 4rem;
  --tedi-dimensions-21: 4.5rem;
  --tedi-dimensions-22: 5rem;
  --tedi-dimensions-23: 6rem;
  --tedi-dimensions-24: 10rem;
  --tedi-dimensions-25: 24rem;
  --tedi-family-roboto: roboto;
  --tedi-green-100: rgb(234 243 238);
  --tedi-green-200: rgb(214 231 221);
  --tedi-green-300: rgb(172 207 186);
  --tedi-green-400: rgb(131 182 152);
  --tedi-green-500: rgb(89 158 117);
  --tedi-green-600: rgb(48 134 83);
  --tedi-green-700: rgb(38 107 66);
  --tedi-green-800: rgb(29 80 50);
  --tedi-line-height-00: 1rem;
  --tedi-line-height-01: 1.25rem;
  --tedi-line-height-02: 1.3125rem;
  --tedi-line-height-03: 1.5rem;
  --tedi-line-height-04: 1.625rem;
  --tedi-line-height-05: 1.75rem;
  --tedi-line-height-06: 1.875rem;
  --tedi-line-height-07: 2rem;
  --tedi-line-height-08: 2.25rem;
  --tedi-line-height-09: 2.625rem;
  --tedi-line-height-10: 2.875rem;
  --tedi-line-height-11: 3rem;
  --tedi-neutral-100: rgb(255 255 255);
  --tedi-neutral-200: rgb(249 249 249);
  --tedi-neutral-300: rgb(240 240 242);
  --tedi-neutral-350: rgb(225 226 229);
  --tedi-neutral-400: rgb(210 211 216);
  --tedi-neutral-450: rgb(146 147 164);
  --tedi-neutral-500: rgb(131 132 148);
  --tedi-neutral-550: rgb(115 116 130);
  --tedi-neutral-600: rgb(93 96 113);
  --tedi-neutral-700: rgb(75 78 98);
  --tedi-neutral-750: rgb(52 57 76);
  --tedi-neutral-800: rgb(38 43 59);
  --tedi-neutral-850: rgb(21 25 38);
  --tedi-neutral-900: rgb(0 0 0);
  --tedi-orange-100: rgb(255 242 230);
  --tedi-orange-200: rgb(255 230 204);
  --tedi-orange-300: rgb(255 204 153);
  --tedi-orange-400: rgb(255 179 102);
  --tedi-orange-500: rgb(255 153 51);
  --tedi-orange-600: rgb(231 116 0);
  --tedi-orange-700: rgb(153 77 0);
  --tedi-orange-800: rgb(102 51 0);
  --tedi-primary-100: var(--tedi-blue-100);
  --tedi-primary-200: var(--tedi-blue-200);
  --tedi-primary-300: var(--tedi-blue-300);
  --tedi-primary-400: var(--tedi-blue-400);
  --tedi-primary-500: var(--tedi-blue-500);
  --tedi-primary-600: var(--tedi-blue-600);
  --tedi-primary-700: var(--tedi-blue-700);
  --tedi-primary-800: var(--tedi-blue-800);
  --tedi-radius-00: 0;
  --tedi-radius-01: 0.125rem;
  --tedi-radius-02-default: 0.25rem;
  --tedi-radius-03: 0.5rem;
  --tedi-radius-04: 1rem;
  --tedi-radius-05: 1.25rem;
  --tedi-radius-06: 2.5rem;
  --tedi-radius-07: 6.25rem;
  --tedi-radius-08: 22.5rem;
  --tedi-red-100: rgb(251 236 236);
  --tedi-red-200: rgb(247 216 216);
  --tedi-red-300: rgb(239 178 178);
  --tedi-red-400: rgb(231 139 139);
  --tedi-red-500: rgb(223 101 101);
  --tedi-red-600: rgb(215 62 62);
  --tedi-red-700: rgb(172 50 50);
  --tedi-red-800: rgb(129 37 37);
  --tedi-size-00: 0.75rem;
  --tedi-size-01: 0.875rem;
  --tedi-size-02: 1rem;
  --tedi-size-03: 1.125rem;
  --tedi-size-04: 1.25rem;
  --tedi-size-05: 1.375rem;
  --tedi-size-06: 1.5rem;
  --tedi-size-07: 1.75rem;
  --tedi-size-08: 1.875rem;
  --tedi-size-09: 2rem;
  --tedi-weight-01: 300;
  --tedi-weight-02: 400;
  --tedi-weight-03: 700;
  --tedi-yellow-100: rgb(255 248 231);
  --tedi-yellow-200: rgb(255 240 207);
  --tedi-yellow-300: rgb(255 225 160);
  --tedi-yellow-400: rgb(255 211 112);
  --tedi-yellow-500: rgb(255 181 17);
  --tedi-yellow-600: rgb(186 131 13);
  --tedi-yellow-700: rgb(148 105 13);
  --tedi-yellow-800: rgb(102 72 7);
}
