:root {
  --accent-100: var(--orange-100);
  --accent-200: var(--orange-200);
  --accent-300: var(--orange-300);
  --accent-400: var(--orange-400);
  --accent-500: var(--orange-500);
  --accent-600: var(--orange-600);
  --accent-700: var(--orange-700);
  --accent-800: var(--orange-800);
  --alpha-01: rgb(0 0 0 / 0.1%);
  --alpha-10: rgb(0 0 0 / 10%);
  --alpha-14: rgb(0 0 0 / 14%);
  --alpha-20: rgb(0 0 0 / 20%);
  --alpha-40: rgb(23 23 23 / 40%);
  --alpha-80: rgb(34 35 43 / 80%);
  --alpha-primary-08: rgb(0 90 163 / 8%);
  --alpha-primary-20: rgb(0 90 163 / 20%);
  --alpha-white-10: rgb(255 255 255 / 10%);
  --alpha-white-14: rgb(255 255 255 / 14%);
  --alpha-white-20: rgb(255 255 255 / 20%);
  --alpha-white-30: rgb(255 255 255 / 30%);
  --alpha-white-50: rgb(255 255 255 / 50%);
  --alpha-white-80: rgb(255 255 255 / 80%);
  --blue-100: rgb(231 240 246);
  --blue-200: rgb(208 225 238);
  --blue-300: rgb(153 189 218);
  --blue-400: rgb(69 135 188);
  --blue-500: rgb(51 123 181);
  --blue-600: rgb(0 90 163);
  --blue-700: rgb(0 66 119);
  --blue-800: rgb(0 54 98);
  --borders-01: 0.0625rem;
  --borders-02: 0.125rem;
  --borders-03: 0.1875rem;
  --borders-04: 0.25rem;
  --containers-01: 160px;
  --containers-02: 240px;
  --containers-03: 312px;
  --containers-04: 340px;
  --containers-05: 460px;
  --containers-06: 480px;
  --containers-07: 552px;
  --containers-08: 616px;
  --containers-09: 820px;
  --containers-10: 840px;
  --containers-11: 1024px;
  --containers-12: 1416px;
  --containers-13: 1232px;
  --dimensions-00: 0;
  --dimensions-01: 0.0625rem;
  --dimensions-02: 0.125rem;
  --dimensions-03: 0.25rem;
  --dimensions-04: 0.375rem;
  --dimensions-05: 0.5rem;
  --dimensions-06: 0.625rem;
  --dimensions-07: 0.75rem;
  --dimensions-08: 0.8125rem;
  --dimensions-09: 0.875rem;
  --dimensions-10: 1rem;
  --dimensions-11: 1.125rem;
  --dimensions-12: 1.375rem;
  --dimensions-13: 1.5rem;
  --dimensions-14: 2rem;
  --dimensions-15: 2.25rem;
  --dimensions-16: 2.5rem;
  --dimensions-17: 2.75rem;
  --dimensions-18: 3rem;
  --dimensions-19: 3.5rem;
  --dimensions-20: 4rem;
  --dimensions-21: 4.5rem;
  --dimensions-22: 5rem;
  --dimensions-23: 6rem;
  --dimensions-24: 10rem;
  --dimensions-25: 24rem;
  --family-roboto: roboto;
  --green-100: rgb(234 243 238);
  --green-200: rgb(214 231 221);
  --green-300: rgb(172 207 186);
  --green-400: rgb(131 182 152);
  --green-500: rgb(89 158 117);
  --green-600: rgb(48 134 83);
  --green-700: rgb(38 107 66);
  --green-800: rgb(29 80 50);
  --line-height-00: 1rem;
  --line-height-01: 1.25rem;
  --line-height-02: 1.3125rem;
  --line-height-03: 1.5rem;
  --line-height-04: 1.625rem;
  --line-height-05: 1.75rem;
  --line-height-06: 1.875rem;
  --line-height-07: 2rem;
  --line-height-08: 2.25rem;
  --line-height-09: 2.625rem;
  --line-height-10: 2.875rem;
  --line-height-11: 3rem;
  --neutral-100: rgb(255 255 255);
  --neutral-200: rgb(249 249 249);
  --neutral-300: rgb(240 240 242);
  --neutral-350: rgb(225 226 229);
  --neutral-400: rgb(210 211 216);
  --neutral-450: rgb(146 147 164);
  --neutral-500: rgb(131 132 148);
  --neutral-550: rgb(115 116 130);
  --neutral-600: rgb(93 96 113);
  --neutral-700: rgb(75 78 98);
  --neutral-750: rgb(52 57 76);
  --neutral-800: rgb(38 43 59);
  --neutral-850: rgb(21 25 38);
  --neutral-900: rgb(0 0 0);
  --orange-100: rgb(255 242 230);
  --orange-200: rgb(255 230 204);
  --orange-300: rgb(255 204 153);
  --orange-400: rgb(255 179 102);
  --orange-500: rgb(255 153 51);
  --orange-600: rgb(231 116 0);
  --orange-700: rgb(153 77 0);
  --orange-800: rgb(102 51 0);
  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary-300: var(--blue-300);
  --primary-400: var(--blue-400);
  --primary-500: var(--blue-500);
  --primary-600: var(--blue-600);
  --primary-700: var(--blue-700);
  --primary-800: var(--blue-800);
  --radius-00: 0;
  --radius-01: 0.125rem;
  --radius-02-default: 0.25rem;
  --radius-03: 0.5rem;
  --radius-04: 1rem;
  --radius-05: 1.25rem;
  --radius-06: 2.5rem;
  --radius-07: 6.25rem;
  --radius-08: 22.5rem;
  --red-100: rgb(251 236 236);
  --red-200: rgb(247 216 216);
  --red-300: rgb(239 178 178);
  --red-400: rgb(231 139 139);
  --red-500: rgb(223 101 101);
  --red-600: rgb(215 62 62);
  --red-700: rgb(172 50 50);
  --red-800: rgb(129 37 37);
  --size-00: 0.75rem;
  --size-01: 0.875rem;
  --size-02: 1rem;
  --size-03: 1.125rem;
  --size-04: 1.25rem;
  --size-05: 1.375rem;
  --size-06: 1.5rem;
  --size-07: 1.75rem;
  --size-08: 1.875rem;
  --size-09: 2rem;
  --weight-01: 300;
  --weight-02: 400;
  --weight-03: 700;
  --yellow-100: rgb(255 248 231);
  --yellow-200: rgb(255 240 207);
  --yellow-300: rgb(255 225 160);
  --yellow-400: rgb(255 211 112);
  --yellow-500: rgb(255 181 17);
  --yellow-600: rgb(186 131 13);
  --yellow-700: rgb(148 105 13);
  --yellow-800: rgb(102 72 7);
}
