:root {
  /* 1.1 Base colors */
  --rit-accent-100: #cdf4ab;
  --rit-accent-200: #cdf4ab;
  --rit-accent-300: #9ae957;
  --rit-accent-400: #66de00;
  --rit-accent-500: #1eb800;
  --rit-accent-600: #008700;
  --rit-accent-700: #008700;
  --rit-accent-800: #008700;
  --rit-accent-extra-1: #55199b;
  --rit-accent-extra-10: #3ad8cc;
  --rit-accent-extra-2: #f7664f;
  --rit-accent-extra-3: #43c7f6;
  --rit-accent-extra-4: #ad240f;
  --rit-accent-extra-5: #9eb7d5;
  --rit-accent-extra-6: #fdc0b7;
  --rit-accent-extra-7: #008455;
  --rit-accent-extra-8: #ffc832;
  --rit-accent-extra-9: #003ca5;
  --rit-alpha-01: #0000;
  --rit-alpha-10: #0000001a;
  --rit-alpha-14: #00000024;
  --rit-alpha-20: #0003;
  --rit-alpha-40: #17171766;
  --rit-alpha-80: #22232bcc;
  --rit-alpha-primary-08: #005aa314;
  --rit-alpha-primary-20: #005aa333;
  --rit-alpha-white-10: #ffffff1a;
  --rit-alpha-white-14: #ffffff24;
  --rit-alpha-white-20: #fff3;
  --rit-alpha-white-30: #ffffff4d;
  --rit-alpha-white-50: #ffffff80;
  --rit-alpha-white-80: #fffc;
  --rit-blue-100: #e7f0f6;
  --rit-blue-200: #d0e1ee;
  --rit-blue-300: #99bdda;
  --rit-blue-400: #4587bc;
  --rit-blue-500: #337bb5;
  --rit-blue-600: #005aa3;
  --rit-blue-700: #004277;
  --rit-blue-800: #003662;
  --rit-green-100: #eaf3ee;
  --rit-green-200: #d6e7dd;
  --rit-green-300: #accfba;
  --rit-green-400: #83b698;
  --rit-green-500: #599e75;
  --rit-green-600: #308653;
  --rit-green-700: #266b42;
  --rit-green-800: #1d5032;
  --rit-neutral-100: #fff;
  --rit-neutral-200: #f9f9f9;
  --rit-neutral-300: #f0f0f2;
  --rit-neutral-350: #e1e2e5;
  --rit-neutral-400: #d2d3d8;
  --rit-neutral-450: #9293a4;
  --rit-neutral-500: #838494;
  --rit-neutral-550: #737482;
  --rit-neutral-600: #5d6071;
  --rit-neutral-700: #4b4e62;
  --rit-neutral-750: #34394c;
  --rit-neutral-800: #262b3b;
  --rit-neutral-850: #151926;
  --rit-neutral-900: #000;
  --rit-orange-100: #fff2e6;
  --rit-orange-200: #ffe6cc;
  --rit-orange-300: #fc9;
  --rit-orange-400: #ffb366;
  --rit-orange-500: #f93;
  --rit-orange-600: #e77400;
  --rit-orange-700: #994d00;
  --rit-orange-800: #630;
  --rit-primary-100: #d2d2d2;
  --rit-primary-200: #d2d2d2;
  --rit-primary-300: #aaa;
  --rit-primary-400: #828282;
  --rit-primary-500: #5a5a5a;
  --rit-primary-600: #000;
  --rit-primary-700: #000;
  --rit-primary-800: #000;
  --rit-red-100: #fbecec;
  --rit-red-200: #f7d8d8;
  --rit-red-300: #efb2b2;
  --rit-red-400: #e78b8b;
  --rit-red-500: #df6565;
  --rit-red-600: #d73e3e;
  --rit-red-700: #ac3232;
  --rit-red-800: #812525;
  --rit-yellow-100: #fff8e7;
  --rit-yellow-200: #fff0cf;
  --rit-yellow-300: #ffe1a0;
  --rit-yellow-400: #ffd370;
  --rit-yellow-500: #ffb511;
  --rit-yellow-600: #ba830d;
  --rit-yellow-700: #94690d;
  --rit-yellow-800: #664807;
  --tedi-accent-100: var(--tedi-orange-100);
  --tedi-accent-200: var(--tedi-orange-200);
  --tedi-accent-300: var(--tedi-orange-300);
  --tedi-accent-400: var(--tedi-orange-400);
  --tedi-accent-500: var(--tedi-orange-500);
  --tedi-accent-600: var(--tedi-orange-600);
  --tedi-accent-700: var(--tedi-orange-700);
  --tedi-accent-800: var(--tedi-orange-800);
  --tedi-alpha-01: #0000;
  --tedi-alpha-10: #0000001a;
  --tedi-alpha-14: #00000024;
  --tedi-alpha-20: #0003;
  --tedi-alpha-40: #17171766;
  --tedi-alpha-80: #22232bcc;
  --tedi-alpha-primary-08: #005aa314;
  --tedi-alpha-primary-20: #005aa333;
  --tedi-alpha-white-10: #ffffff1a;
  --tedi-alpha-white-14: #ffffff24;
  --tedi-alpha-white-20: #fff3;
  --tedi-alpha-white-30: #ffffff4d;
  --tedi-alpha-white-50: #ffffff80;
  --tedi-alpha-white-80: #fffc;
  --tedi-blue-100: #e7f0f6;
  --tedi-blue-200: #d0e1ee;
  --tedi-blue-300: #99bdda;
  --tedi-blue-400: #4587bc;
  --tedi-blue-500: #337bb5;
  --tedi-blue-600: #005aa3;
  --tedi-blue-700: #004277;
  --tedi-blue-800: #003662;
  --tedi-green-100: #eaf3ee;
  --tedi-green-200: #d6e7dd;
  --tedi-green-300: #accfba;
  --tedi-green-400: #83b698;
  --tedi-green-500: #599e75;
  --tedi-green-600: #308653;
  --tedi-green-700: #266b42;
  --tedi-green-800: #1d5032;
  --tedi-neutral-100: #fff;
  --tedi-neutral-200: #f9f9f9;
  --tedi-neutral-300: #f0f0f2;
  --tedi-neutral-350: #e1e2e5;
  --tedi-neutral-400: #d2d3d8;
  --tedi-neutral-450: #9293a4;
  --tedi-neutral-500: #838494;
  --tedi-neutral-550: #737482;
  --tedi-neutral-600: #5d6071;
  --tedi-neutral-700: #4b4e62;
  --tedi-neutral-750: #34394c;
  --tedi-neutral-800: #262b3b;
  --tedi-neutral-850: #151926;
  --tedi-neutral-900: #000;
  --tedi-orange-100: #fff2e6;
  --tedi-orange-200: #ffe6cc;
  --tedi-orange-300: #fc9;
  --tedi-orange-400: #ffb366;
  --tedi-orange-500: #f93;
  --tedi-orange-600: #e77400;
  --tedi-orange-700: #994d00;
  --tedi-orange-800: #630;
  --tedi-primary-100: var(--tedi-blue-100);
  --tedi-primary-200: var(--tedi-blue-200);
  --tedi-primary-300: var(--tedi-blue-300);
  --tedi-primary-400: var(--tedi-blue-400);
  --tedi-primary-500: var(--tedi-blue-500);
  --tedi-primary-600: var(--tedi-blue-600);
  --tedi-primary-700: var(--tedi-blue-700);
  --tedi-primary-800: var(--tedi-blue-800);
  --tedi-red-100: #fbecec;
  --tedi-red-200: #f7d8d8;
  --tedi-red-300: #efb2b2;
  --tedi-red-400: #e78b8b;
  --tedi-red-500: #df6565;
  --tedi-red-600: #d73e3e;
  --tedi-red-700: #ac3232;
  --tedi-red-800: #812525;
  --tedi-yellow-100: #fff8e7;
  --tedi-yellow-200: #fff0cf;
  --tedi-yellow-300: #ffe1a0;
  --tedi-yellow-400: #ffd370;
  --tedi-yellow-500: #ffb511;
  --tedi-yellow-600: #ba830d;
  --tedi-yellow-700: #94690d;
  --tedi-yellow-800: #664807;

  /* BASE DIMENSIONS */
  --dimensions-00: 0rem;
  --dimensions-01: 0.0625rem;
  --dimensions-02: 0.125rem;
  --dimensions-03: 0.25rem;
  --dimensions-04: 0.375rem;
  --dimensions-05: 0.5rem;
  --dimensions-06: 0.625rem;
  --dimensions-07: 0.75rem;
  --dimensions-08: 0.8125rem;
  --dimensions-09: 0.875rem;
  --dimensions-10: 1rem;
  --dimensions-11: 1.125rem;
  --dimensions-12: 1.375rem;
  --dimensions-13: 1.5rem;
  --dimensions-14: 2rem;
  --dimensions-15: 2.25rem;
  --dimensions-16: 2.5rem;
  --dimensions-17: 2.75rem;
  --dimensions-18: 3rem;
  --dimensions-19: 3.5rem;
  --dimensions-20: 4rem;
  --dimensions-21: 4.5rem;
  --dimensions-22: 5rem;
  --dimensions-23: 6rem;
  --dimensions-24: 10rem;
  --dimensions-25: 24rem;
  --radius-00: 0px;
  --radius-01: 2px;
  --radius-02-default: 4px;
  --radius-03: 8px;
  --radius-04: 16px;
  --radius-05: 20px;
  --radius-06: 40px;
  --radius-07: 100px;
  --radius-08: 360px;
  --containers-01: 160px;
  --containers-02: 240px;
  --containers-03: 312px;
  --containers-04: 340px;
  --containers-05: 460px;
  --containers-06: 480px;
  --containers-07: 552px;
  --containers-08: 616px;
  --containers-09: 820px;
  --containers-10: 840px;
  --containers-11: 1024px;
  --containers-12: 1416px;
  --containers-13: 1232px;
  --borders-01: 1px;
  --borders-02: 2px;
  --borders-03: 3px;
  --borders-04: 4px;

  /* BASE FONTS */
  --family-roboto: 'Roboto';
  --size-00: 0.75rem; /* 12px */
  --size-01: 0.875rem; /* 14px */
  --size-02: 1rem; /* 16px */
  --size-03: 1.125rem; /* 18px */
  --size-04: 1.25rem; /* 20px */
  --size-05: 1.375rem; /* 22px */
  --size-06: 1.5rem; /* 24px */
  --size-07: 1.75rem; /* 28px */
  --size-08: 1.875rem; /* 30px */
  --size-09: 2rem; /* 32px */
  --line-height-01: 1.25rem; /* 20px */
  --line-height-02: 1.3125rem; /* 21px */
  --line-height-03: 1.5rem; /* 24px */
  --line-height-04: 1.625rem; /* 26px */
  --line-height-05: 1.75rem; /* 28px */
  --line-height-06: 1.875rem; /* 30px */
  --line-height-07: 2rem; /* 32px */
  --line-height-08: 2.25rem; /* 36px */
  --line-height-09: 2.625rem; /* 42px */
  --line-height-10: 2.875rem; /* 46px */
  --line-height-11: 3rem; /* 48px */
  --weight-01: 300;
  --weight-02: 400;
  --weight-03: 700;
}
