:root {
  --alert-radius: var(--card-radius-rounded);
  --alert-default-padding-x-sm: var(--dimensions-05);
  --alert-default-padding-y-sm: var(--dimensions-05);
  --alert-default-padding-x: var(--dimensions-10);
  --alert-default-padding-y: var(--dimensions-10);
  --alert-default-icon-size: var(--button-icon-inner-size);
  --alert-default-icon-container-height: var(--dimensions-13);
  --alert-illustrative-padding-y: var(--dimensions-07);
  --alert-illustrative-inner-spacing-x: var(--dimensions-10);
  --alert-illustrative-padding-x: var(--alert-default-padding-x);
  --alert-illustrative-min-width: 23.75rem;
  --alert-illustrative-text-max-width: 46.75rem;
  --avatar-size-sm: var(--dimensions-13);
  --avatar-size-md: var(--dimensions-14);
  --avatar-size-lg: var(--dimensions-16);
  --breadcrumb-inner-spacing: var(--dimensions-03);
  --breadcrumb-spacing-bottom: var(--dimensions-10);
  --button-group-icon-container-height: var(--dimensions-13);
  --button-gutter-x-sm: var(--dimensions-05);
  --button-gutter-x: var(--dimensions-10);
  --button-gutter-y: var(--dimensions-10);
  --button-icon-inner-icon-only-size: var(--dimensions-11);
  --button-icon-inner-size: var(--dimensions-11);
  --button-lg-inner-spacing: var(--dimensions-04);
  --button-lg-padding-y: var(--dimensions-06);
  --button-lg-padding-x: var(--dimensions-11);
  --button-lg-icon-padding: var(--dimensions-03);
  --button-lg-icon-size: var(--dimensions-17);
  --button-md-inner-spacing: var(--dimensions-04);
  --button-md-padding-y: var(--dimensions-06);
  --button-md-padding-x: var(--dimensions-11);
  --button-md-height: var(--dimensions-17);
  --button-md-icon-padding: var(--dimensions-03);
  --button-md-icon-size: var(--dimensions-17);
  --button-md-neutral-padding-x: var(--dimensions-00);
  --button-md-neutral-padding-y: var(--dimensions-06);
  --button-radius-sm: var(--radius-02-default);
  --button-radius-default: var(--radius-08);
  --button-sm-inner-spacing: var(--dimensions-04);
  --button-sm-padding-y: var(--dimensions-06);
  --button-sm-padding-x: var(--dimensions-11);
  --button-sm-height: var(--dimensions-16);
  --button-sm-icon-padding: var(--dimensions-00);
  --button-sm-icon-size: var(--dimensions-17);
  --button-sm-neutral-padding-x: var(--dimensions-00);
  --button-sm-neutral-padding-y: var(--dimensions-06);
  --button-text-size-default: var(--body-regular-size);
  --button-text-size-sm: var(--body-regular-size);
  --button-width-min-sm: var(--dimensions-21);
  --button-width-min: var(--dimensions-23);
  --button-width-max: var(--dimensions-25);
  --button-xl-inner-spacing: var(--dimensions-04);
  --button-xl-padding-y: var(--dimensions-07);
  --button-xl-padding-x: var(--dimensions-11);
  --button-xl-icon-padding: var(--dimensions-05);
  --button-xl-icon-size: var(--dimensions-18);
  --button-xs-icon-inner-size: var(--dimensions-10);
  --button-xs-icon-size: var(--dimensions-13);
  --button-xxs-icon-size: var(--dimensions-10);
  --card-padding-xxs: var(--dimensions-03);
  --card-padding-lg: var(--dimensions-05);
  --card-padding-xs: var(--dimensions-05);
  --card-padding-sm: var(--dimensions-07);
  --card-padding-md-default: var(--dimensions-10);
  --card-radius-sharp: var(--radius-00);
  --card-radius-rounded: var(--radius-02-default);
  --carousel-indicator-height: var(--dimensions-06);
  --carousel-indicator-width: var(--dimensions-14);
  --content-heading-icon-padding-top: var(--dimensions-02);
  --content-heading-inner-spacing-x: var(--dimensions-05);
  --content-label-inner-spacing-x: var(--dimensions-02);
  --content-label-info-icon-padding-y: var(--dimensions-03);
  --content-label-label-sm-height: var(--dimensions-13);
  --dropdown-max-height: 37.5rem;
  --dropdown-body-padding-x: var(--dimensions-07);
  --dropdown-body-padding-y: var(--dimensions-07);
  --dropdown-group-label-padding-x: var(--dropdown-item-padding-x);
  --dropdown-group-label-padding-y: var(--dropdown-item-padding-y);
  --dropdown-item-radius: var(--radius-02-default);
  --dropdown-item-inner-spacing: var(--dimensions-05);
  --dropdown-item-padding-x: var(--dimensions-07);
  --dropdown-item-padding-y: var(--dimensions-07);
  --empty-state-inner-spacing-y-sm: var(--dimensions-03);
  --empty-state-radius: var(--radius-02-default);
  --empty-state-inner-spacing-y-lg: var(--dimensions-05);
  --empty-state-inner-spacing-y-md: var(--dimensions-05);
  --empty-state-padding: var(--dimensions-10);
  --empty-state-padding-sm: var(--dimensions-10);
  --file-dropzone-padding-x: var(--dimensions-10);
  --file-dropzone-padding-y: var(--dimensions-13);
  --filter-default-inner-spacing: var(--dimensions-02);
  --filter-default-padding-y: var(--dimensions-03);
  --filter-default-padding-x: var(--dimensions-04);
  --filter-sm-inner-spacing: var(--dimensions-02);
  --filter-sm-padding-y: var(--dimensions-02);
  --filter-sm-padding-x: var(--dimensions-03);
  --form-calendar-date-width: 2.5rem;
  --form-checkbox-radio-label-gutter-y: var(--dimensions-03);
  --form-checkbox-radio-gutter-y: var(--dimensions-05);
  --form-checkbox-radio-inner-spacing: var(--dimensions-05);
  --form-checkbox-radio-gutter-x: var(--dimensions-07);
  --form-checkbox-radio-card-radius: var(--radius-02-default);
  --form-checkbox-radio-card-inner-spacing: var(--button-md-inner-spacing);
  --form-checkbox-radio-card-gutter: var(--button-gutter-x-sm);
  --form-checkbox-radio-card-checkbox-icon-padding-y: var(--dimensions-04);
  --form-checkbox-radio-card-checkbox-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
  --form-checkbox-radio-card-checkbox-padding-y: var(--dimensions-05);
  --form-checkbox-radio-card-checkbox-indicator-padding-y: var(--dimensions-07);
  --form-checkbox-radio-card-radio-icon-padding-y: var(--dimensions-04);
  --form-checkbox-radio-card-radio-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
  --form-checkbox-radio-card-radio-padding-y: var(--dimensions-05);
  --form-checkbox-radio-card-radio-indicator-padding-y: var(--dimensions-06);
  --form-checkbox-radio-indicator-container-height: var(--dimensions-13);
  --form-checkbox-radio-indicator-radius-checkbox: var(--dimensions-02);
  --form-checkbox-radio-indicator-radius-radio: var(--radius-08);
  --form-checkbox-radio-size-fixed: var(--dimensions-11);
  --form-checkbox-radio-size-large: var(--dimensions-13);
  --form-checkbox-radio-size-responsive: var(--dimensions-13);
  --form-checkbox-radio-subitem-padding-left: var(--dimensions-14);
  --form-field-inner-spacing-sm: var(--dimensions-03);
  --form-field-outer-spacing: var(--dimensions-03);
  --form-field-radius: var(--card-radius-rounded);
  --form-field-inner-spacing: var(--dimensions-05);
  --form-field-button-height-sm: var(--dimensions-13);
  --form-field-button-height: var(--dimensions-14);
  --form-field-height: var(--dimensions-17);
  --form-field-height-sm: var(--dimensions-17);
  --form-field-padding-x-md-default: var(--dimensions-05);
  --form-field-padding-x-lg: var(--dimensions-10);
  --form-field-padding-y-xs: var(--dimensions-02);
  --form-field-padding-y-md-has-button: var(--dimensions-04);
  --form-field-padding-y-sm-has-button: var(--dimensions-04);
  --form-field-padding-y-xxs: var(--dimensions-04);
  --form-field-padding-y-md-default: var(--dimensions-06);
  --form-field-padding-y-sm: var(--dimensions-06);
  --form-field-padding-y-lg: var(--dimensions-10);
  --form-number-input-min-width: var(--dimensions-22);
  --form-number-min-width: 10.5rem;
  --form-select-area-radius: var(--radius-02-default);
  --form-select-area-max-height: 18.75rem;
  --form-slider-radius: var(--radius-02-default);
  --form-slider-height: var(--dimensions-05);
  --form-slider-inner-spacing: var(--dimensions-07);
  --form-slider-thumb-size: var(--dimensions-13);
  --form-textarea-min-height: 8.5rem;
  --form-toggl-padding: var(--dimensions-02);
  --form-toggl-radius: var(--radius-04);
  --form-toggl-default-margin-y: var(--dimensions-00);
  --form-toggl-default-indicator: var(--dimensions-13);
  --form-toggl-default-height: 1.75rem;
  --form-toggl-default-width: 3.5rem;
  --form-toggl-large-indicator: 1.5rem;
  --form-toggl-large-height: 1.75rem;
  --form-toggl-large-width: 3.5rem;
  --general-selected-border-width: var(--borders-02);
  --icon-00: var(--dimensions-05);
  --icon-01: var(--dimensions-07);
  --icon-02: var(--dimensions-10);
  --icon-03: var(--dimensions-11);
  --icon-04: var(--dimensions-12);
  --icon-05: var(--dimensions-13);
  --icon-06: var(--dimensions-15);
  --icon-07: var(--dimensions-18);
  --icon-background-padding-sm: var(--dimensions-05);
  --icon-background-padding-lg: var(--dimensions-07);
  --icon-background-radius: var(--radius-08);
  --layout-page-spacing-x: 0.5rem;
  --layout-page-spacing-top: var(--dimensions-13);
  --layout-common-device-width: 22.5rem;
  --layout-common-device-height: 50.75rem;
  --layout-container-max-width-xs: 33.75rem;
  --layout-container-max-width-sm: 45rem;
  --layout-container-max-width-md: 60rem;
  --layout-container-max-width-lg: 71.25rem;
  --layout-container-max-width-xl: 82.5rem;
  --layout-container-max-width-xxl: 90rem;
  --layout-footer-item-vertical-spacing: var(--dimensions-05);
  --layout-footer-padding-x: var(--dimensions-10);
  --layout-footer-padding-y: var(--dimensions-10);
  --layout-footer-bottom-padding-y: var(--dimensions-05);
  --layout-footer-bottom-padding-x: var(--layout-page-spacing-x);
  --layout-footer-col-padding-x: 0rem;
  --layout-grid-column-width: 0rem;
  --layout-grid-column-offset: 0.5rem;
  --layout-grid-column-gutter: var(--dimensions-13);
  --layout-grid-gutters-02: var(--dimensions-02);
  --layout-grid-gutters-04: var(--dimensions-03);
  --layout-grid-gutters-08: var(--dimensions-05);
  --layout-grid-gutters-12: var(--dimensions-07);
  --layout-grid-gutters-16: var(--dimensions-10);
  --layout-grid-gutters-24: var(--dimensions-13);
  --layout-grid-gutters-32: var(--dimensions-14);
  --layout-grid-gutters-48: var(--dimensions-18);
  --layout-header-padding-right: 0rem;
  --layout-header-padding-y: 0rem;
  --layout-header-padding-y-sm: 0rem;
  --layout-header-padding-left: var(--dimensions-06);
  --layout-header-profile-icon: var(--icon-05);
  --layout-header-min-height: 3.5rem;
  --layout-header-mobile-button-size: var(--dimensions-19);
  --layout-header-items-center-gutter-x: var(--dimensions-07);
  --layout-header-items-right-gutter-x: var(--dimensions-07);
  --layout-header-modal-item-padding: var(--dimensions-10);
  --link-icon-padding-top: var(--dimensions-02);
  --link-icon-padding-y: var(--dimensions-03);
  --link-inner-spacing-x: var(--dimensions-03);
  --link-link-sm-height: var(--body-regular-line-height);
  --list-icon-padding-y: var(--dimensions-05);
  --list-icon-size: var(--icon-00);
  --list-inner-spacing-x: var(--dimensions-05);
  --list-list-item-margin-y: var(--dimensions-05);
  --list-padding-left-level-1: var(--dimensions-05);
  --list-padding-left-level-2: var(--dimensions-13);
  --list-padding-left-level-3: var(--dimensions-16);
  --loader-skeleton-radius: var(--radius-02-default);
  --loader-skeleton-inner-spacing-y: var(--dimensions-10);
  --loader-skeleton-height-100: 1.5rem;
  --loader-skeleton-height-200: 2rem;
  --loader-skeleton-height-300: 2.25rem;
  --loader-skeleton-height-400: 2.875rem;
  --loader-skeleton-height-500: 6.25rem;
  --loader-spinner-page-spacing-top: var(--dimensions-22);
  --loader-spinner-sizing-sm: var(--dimensions-06);
  --loader-spinner-sizing-md: var(--dimensions-10);
  --loader-spinner-sizing-lg: var(--dimensions-18);
  --modal-radius: var(--card-radius-rounded);
  --modal-top-margin: var(--dimensions-10);
  --modal-body-padding: var(--dimensions-10);
  --modal-body-padding-sm: var(--modal-heading-padding-x-sm);
  --modal-footer-padding-y-sm: var(--dimensions-05);
  --modal-footer-padding-x: var(--dimensions-10);
  --modal-footer-padding-x-sm: var(--modal-heading-padding-x-sm);
  --modal-footer-padding-y: var(--dimensions-10);
  --modal-heading-padding-y-sm: var(--dimensions-05);
  --modal-heading-padding-x: var(--dimensions-10);
  --modal-heading-padding-x-sm: var(--dimensions-10);
  --modal-heading-padding-y: var(--dimensions-10);
  --modal-max-width-lg: var(--containers-05);
  --modal-max-width-md: var(--containers-05);
  --modal-max-width-sm: var(--containers-05);
  --modal-max-width-xl: var(--containers-05);
  --modal-max-width-xs: var(--containers-05);
  --pagination-padding-y: 0.75rem;
  --pagination-padding-x: 0.875rem;
  --pagination-button-size: var(--dimensions-14);
  --popover-padding-md: var(--card-padding-lg);
  --popover-padding-xs: var(--card-padding-xs);
  --popover-padding-sm: var(--card-padding-md-default);
  --popover-radius-rounded: var(--card-radius-rounded);
  --popover-width-01: var(--containers-02);
  --popover-width-02: var(--containers-06);
  --popover-width-03: var(--containers-10);
  --progress-bar-height-sm: var(--dimensions-03);
  --progress-bar-radius: var(--form-slider-radius);
  --progress-bar-height: var(--form-slider-height);
  --separator-spacing-y-01: var(--dimensions-03);
  --separator-spacing-x-01: var(--dimensions-04);
  --separator-spacing-y-02: var(--dimensions-05);
  --separator-spacing-x-02: var(--dimensions-07);
  --separator-spacing-y-03: var(--dimensions-10);
  --separator-spacing-x-03: var(--dimensions-13);
  --separator-spacing-y-04: var(--dimensions-13);
  --separator-dotted-line-width: var(--dimensions-01);
  --separator-dotted-dot-xs: var(--dimensions-02);
  --separator-dotted-dot-sm: var(--dimensions-03);
  --separator-dotted-dot-md: 0.5625rem;
  --separator-dotted-dot-lg: 0.9375rem;
  --separator-top-spacing-large-dot-sm: var(--dimensions-03);
  --separator-top-spacing-large-dot-md: 0.9688rem;
  --separator-top-spacing-large-dot-lg: 1.3125rem;
  --separator-top-spacing-small-dot-sm: var(--dimensions-05);
  --separator-top-spacing-small-dot-md: var(--dimensions-06);
  --separator-top-spacing-small-dot-lg: var(--dimensions-13);
  --side-navigation-text-size: var(--body-regular-size);
  --side-navigation-text-size-sm: var(--body-regular-size);
  --side-navigation-item-padding-x-sm: var(--dimensions-05);
  --side-navigation-item-inner-spacing: var(--dimensions-10);
  --side-navigation-item-inner-spacing-sm: var(--dimensions-10);
  --side-navigation-item-padding-left-level-1: var(--dimensions-10);
  --side-navigation-item-padding-left-level-2: var(--dimensions-10);
  --side-navigation-item-padding-right: var(--dimensions-10);
  --side-navigation-item-padding-y: var(--dimensions-10);
  --side-navigation-item-padding-y-md: var(--dimensions-10);
  --side-navigation-item-padding-y-sm: var(--dimensions-10);
  --side-navigation-item-icon: var(--icon-05);
  --side-navigation-item-icon-md: var(--icon-05);
  --side-navigation-item-icon-sm: var(--icon-05);
  --side-navigation-item-min-height-large: var(--dimensions-19);
  --side-navigation-item-min-height-medium: var(--dimensions-19);
  --side-navigation-item-min-height-small: var(--dimensions-19);
  --side-navigation-item-width-collapsed: 6rem;
  --side-navigation-item-width-default: 20rem;
  --status-indicator-inner-spacing: var(--dimensions-05);
  --status-indicator-sm: var(--dimensions-05);
  --status-indicator-lg: var(--dimensions-07);
  --stepper-item-horizontal-inner-spacing: var(--dimensions-05);
  --stepper-item-horizontal-padding-y: var(--dimensions-05);
  --stepper-item-horizontal-padding-x: var(--dimensions-10);
  --stepper-item-horizontal-min-height: var(--dimensions-17);
  --stepper-item-vertical-padding-y-sm: 0.125rem;
  --stepper-item-vertical-line-height: 0.375rem;
  --stepper-item-vertical-sub-line-bottom: 0.5625rem;
  --stepper-item-vertical-sub-line-top: 0.5938rem;
  --stepper-item-vertical-compact-padding-top: 0.1875rem;
  --stepper-item-vertical-compact-inner-spacing: var(--dimensions-04);
  --stepper-item-vertical-compact-sub-item-indicator-width: var(--dimensions-10);
  --stepper-item-vertical-compact-min-height-first-item: 2rem;
  --stepper-item-vertical-compact-min-height: 2.5rem;
  --stepper-item-vertical-lg-inner-spacing: var(--dimensions-05);
  --stepper-item-vertical-lg-padding-top: 0.5rem;
  --stepper-item-vertical-lg-sub-item-indicator-width: var(--dimensions-13);
  --stepper-item-vertical-lg-min-height-first-item: 2rem;
  --stepper-item-vertical-lg-min-height: 2.75rem;
  --stepper-item-vertical-step-size-sm: var(--separator-dotted-dot-md);
  --stepper-item-vertical-step-size-md: 1rem;
  --stepper-item-vertical-step-size-lg: 1.5rem;
  --tab-top-radius: var(--card-radius-rounded);
  --tab-inner-spacing: var(--dimensions-05);
  --tab-spacing-y: var(--dimensions-07);
  --tab-spacing-x: var(--dimensions-10);
  --tab-icon: 1.125rem;
  --table-radius: var(--radius-02-default);
  --table-of-contents-padding-left-level-1: var(--dimensions-10);
  --table-of-contents-padding-left-level-2: var(--dimensions-14);
  --table-of-contents-width: var(--containers-04);
  --table-data-padding-y-sm: 0.25rem;
  --table-data-padding-x-sm: 0.5rem;
  --table-data-padding-y: 0.75rem;
  --table-data-padding-x: 0.875rem;
  --table-header-padding-x-sm: 0.5rem;
  --table-header-padding-y: 0.75rem;
  --table-header-padding-y-sm: 0.75rem;
  --table-header-padding-x: 0.875rem;
  --tag-default-padding-y: var(--dimensions-02);
  --tag-default-padding-x: var(--dimensions-03);
  --tag-default-radius: var(--radius-02-default);
  --tag-default-loader-padding-y: var(--dimensions-04);
  --tag-status-icon-padding-x: var(--dimensions-03);
  --tag-status-icon-padding-y: var(--dimensions-03);
  --tag-status-large-padding-x: var(--dimensions-05);
  --tag-status-large-padding-y: var(--dimensions-05);
  --tag-status-large-min-width: var(--dimensions-21);
  --text-group-label-width-sm: 8.25rem;
  --text-group-label-width-md: 10.25rem;
  --text-group-label-width-lg: 12.25rem;
  --text-group-value-inner-spacing: var(--dimensions-04);
  --text-group-value-icon-padding-top: var(--dimensions-03);
  --timeline-padding-y: var(--dimensions-05);
  --timeline-text-min-height: var(--dimensions-13);
  --timeline-date-container-width: 6.5625rem;
  --toast-outer-spacing: var(--dimensions-00);
  --toast-inner-spacing-y: var(--alert-default-inner-spacing-y);
  --toast-margin-bottom: var(--dimensions-05);
  --toast-margin-left: var(--dimensions-05);
  --toast-margin-right: var(--dimensions-05);
  --toast-padding-y: var(--alert-default-padding-y);
  --toast-padding-x: var(--alert-default-padding-x);
  --toast-width: var(--containers-03);
  --tooltip-radius: var(--card-radius-rounded);
  --tooltip-padding-x: var(--card-padding-xs);
  --tooltip-padding-y: var(--tooltip-padding-x);
  --tooltip-max-width: var(--containers-02);
}

@media (width >= 48rem) {
  :root {
    --alert-radius: var(--card-radius-rounded);
    --alert-default-padding-x-sm: var(--dimensions-05);
    --alert-default-padding-y-sm: var(--dimensions-05);
    --alert-default-padding-y: var(--dimensions-10);
    --alert-default-icon-size: var(--button-icon-inner-size);
    --alert-default-padding-x: 1.25rem;
    --alert-default-icon-container-height: var(--dimensions-13);
    --alert-illustrative-padding-y: var(--dimensions-07);
    --alert-illustrative-inner-spacing-x: var(--dimensions-10);
    --alert-illustrative-padding-x: var(--alert-default-padding-x);
    --alert-illustrative-min-width: 23.75rem;
    --alert-illustrative-text-max-width: 46.75rem;
    --avatar-size-sm: var(--dimensions-13);
    --avatar-size-md: var(--dimensions-14);
    --avatar-size-lg: var(--dimensions-16);
    --breadcrumb-inner-spacing: var(--dimensions-03);
    --breadcrumb-spacing-bottom: var(--dimensions-13);
    --button-group-icon-container-height: var(--dimensions-13);
    --button-gutter-x-sm: var(--dimensions-05);
    --button-gutter-x: var(--dimensions-10);
    --button-gutter-y: var(--dimensions-10);
    --button-icon-inner-icon-only-size: var(--dimensions-11);
    --button-icon-inner-size: var(--dimensions-11);
    --button-lg-inner-spacing: var(--dimensions-04);
    --button-lg-padding-y: var(--dimensions-06);
    --button-lg-padding-x: var(--dimensions-11);
    --button-lg-icon-padding: var(--dimensions-03);
    --button-lg-icon-size: var(--dimensions-17);
    --button-md-inner-spacing: var(--dimensions-04);
    --button-md-padding-y: var(--dimensions-05);
    --button-md-padding-x: var(--dimensions-11);
    --button-md-height: var(--dimensions-16);
    --button-md-icon-padding: var(--dimensions-03);
    --button-md-icon-size: var(--dimensions-16);
    --button-md-neutral-padding-x: var(--dimensions-00);
    --button-md-neutral-padding-y: var(--dimensions-05);
    --button-radius-sm: var(--radius-02-default);
    --button-radius-default: var(--radius-08);
    --button-sm-inner-spacing: var(--dimensions-03);
    --button-sm-padding-y: var(--dimensions-03);
    --button-sm-padding-x: var(--dimensions-09);
    --button-sm-height: var(--dimensions-14);
    --button-sm-icon-padding: var(--dimensions-00);
    --button-sm-icon-size: var(--dimensions-14);
    --button-sm-neutral-padding-x: var(--dimensions-00);
    --button-sm-neutral-padding-y: var(--dimensions-03);
    --button-text-size-sm: var(--body-small-regular-size);
    --button-text-size-default: var(--body-regular-size);
    --button-width-min-sm: var(--dimensions-21);
    --button-width-min: var(--dimensions-23);
    --button-width-max: var(--dimensions-25);
    --button-xl-inner-spacing: var(--dimensions-04);
    --button-xl-padding-y: var(--dimensions-07);
    --button-xl-padding-x: var(--dimensions-11);
    --button-xl-icon-padding: var(--dimensions-05);
    --button-xl-icon-size: var(--dimensions-18);
    --button-xs-icon-inner-size: var(--dimensions-10);
    --button-xs-icon-size: var(--dimensions-13);
    --button-xxs-icon-size: var(--dimensions-10);
    --card-padding-xxs: var(--dimensions-03);
    --card-padding-xs: var(--dimensions-05);
    --card-padding-sm: var(--dimensions-07);
    --card-padding-lg: var(--dimensions-10);
    --card-padding-md-default: var(--dimensions-10);
    --card-radius-sharp: var(--radius-00);
    --card-radius-rounded: var(--radius-02-default);
    --carousel-indicator-height: var(--dimensions-05);
    --carousel-indicator-width: var(--dimensions-12);
    --content-heading-icon-padding-top: var(--dimensions-02);
    --content-heading-inner-spacing-x: var(--dimensions-05);
    --content-label-inner-spacing-x: var(--dimensions-02);
    --content-label-info-icon-padding-y: var(--dimensions-03);
    --content-label-label-sm-height: var(--dimensions-13);
    --dropdown-max-height: 37.5rem;
    --dropdown-body-padding-y: var(--dimensions-05);
    --dropdown-body-padding-x: var(--dimensions-07);
    --dropdown-group-label-padding-y: var(--dropdown-item-padding-y);
    --dropdown-group-label-padding-x: var(--dropdown-item-padding-x);
    --dropdown-item-radius: var(--radius-02-default);
    --dropdown-item-inner-spacing: var(--dimensions-05);
    --dropdown-item-padding-y: var(--dimensions-05);
    --dropdown-item-padding-x: var(--dimensions-07);
    --empty-state-inner-spacing-y-sm: var(--dimensions-03);
    --empty-state-radius: var(--radius-02-default);
    --empty-state-inner-spacing-y-md: var(--dimensions-05);
    --empty-state-inner-spacing-y-lg: var(--dimensions-10);
    --empty-state-padding-sm: var(--dimensions-10);
    --empty-state-padding: var(--dimensions-13);
    --file-dropzone-padding-x: var(--dimensions-13);
    --file-dropzone-padding-y: var(--dimensions-13);
    --filter-default-inner-spacing: var(--dimensions-02);
    --filter-default-padding-y: var(--dimensions-03);
    --filter-default-padding-x: var(--dimensions-04);
    --filter-sm-inner-spacing: var(--dimensions-02);
    --filter-sm-padding-y: var(--dimensions-02);
    --filter-sm-padding-x: var(--dimensions-03);
    --form-calendar-date-width: 2.5rem;
    --form-checkbox-radio-label-gutter-y: var(--dimensions-00);
    --form-checkbox-radio-gutter-y: var(--dimensions-03);
    --form-checkbox-radio-inner-spacing: var(--dimensions-05);
    --form-checkbox-radio-gutter-x: var(--dimensions-07);
    --form-checkbox-radio-card-radius: var(--radius-02-default);
    --form-checkbox-radio-card-inner-spacing: var(--button-md-inner-spacing);
    --form-checkbox-radio-card-gutter: var(--button-gutter-x-sm);
    --form-checkbox-radio-card-checkbox-icon-padding-y: var(--dimensions-04);
    --form-checkbox-radio-card-checkbox-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
    --form-checkbox-radio-card-checkbox-padding-y: var(--dimensions-05);
    --form-checkbox-radio-card-checkbox-indicator-padding-y: var(--dimensions-07);
    --form-checkbox-radio-card-radio-icon-padding-y: var(--dimensions-04);
    --form-checkbox-radio-card-radio-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
    --form-checkbox-radio-card-radio-padding-y: var(--dimensions-05);
    --form-checkbox-radio-card-radio-indicator-padding-y: var(--dimensions-06);
    --form-checkbox-radio-indicator-container-height: var(--dimensions-13);
    --form-checkbox-radio-indicator-radius-checkbox: var(--dimensions-02);
    --form-checkbox-radio-indicator-radius-radio: var(--radius-08);
    --form-checkbox-radio-size-fixed: var(--dimensions-11);
    --form-checkbox-radio-size-responsive: var(--dimensions-11);
    --form-checkbox-radio-size-large: var(--dimensions-13);
    --form-checkbox-radio-subitem-padding-left: var(--dimensions-14);
    --form-field-inner-spacing-sm: var(--dimensions-03);
    --form-field-outer-spacing: var(--dimensions-03);
    --form-field-radius: var(--card-radius-rounded);
    --form-field-inner-spacing: var(--dimensions-05);
    --form-field-button-height-sm: var(--dimensions-13);
    --form-field-button-height: var(--dimensions-14);
    --form-field-height-sm: var(--dimensions-14);
    --form-field-height: var(--dimensions-16);
    --form-field-padding-x-md-default: var(--dimensions-05);
    --form-field-padding-x-lg: var(--dimensions-10);
    --form-field-padding-y-xxs: var(--dimensions-00);
    --form-field-padding-y-xs: var(--dimensions-02);
    --form-field-padding-y-md-has-button: var(--dimensions-03);
    --form-field-padding-y-sm: var(--dimensions-03);
    --form-field-padding-y-sm-has-button: var(--dimensions-03);
    --form-field-padding-y-md-default: var(--dimensions-05);
    --form-field-padding-y-lg: var(--dimensions-10);
    --form-number-input-min-width: var(--dimensions-22);
    --form-number-min-width: 10.1875rem;
    --form-select-area-radius: var(--radius-02-default);
    --form-select-area-max-height: 18.75rem;
    --form-slider-radius: var(--radius-02-default);
    --form-slider-height: var(--dimensions-05);
    --form-slider-inner-spacing: var(--dimensions-07);
    --form-slider-thumb-size: var(--dimensions-13);
    --form-textarea-min-height: 8.5rem;
    --form-toggl-padding: var(--dimensions-02);
    --form-toggl-radius: var(--radius-04);
    --form-toggl-default-margin-y: var(--dimensions-02);
    --form-toggl-default-indicator: var(--dimensions-10);
    --form-toggl-default-height: 1.25rem;
    --form-toggl-default-width: var(--dimensions-16);
    --form-toggl-large-indicator: 1.5rem;
    --form-toggl-large-height: 1.75rem;
    --form-toggl-large-width: 3.5rem;
    --general-selected-border-width: var(--borders-02);
    --icon-00: var(--dimensions-05);
    --icon-01: var(--dimensions-07);
    --icon-02: var(--dimensions-10);
    --icon-03: var(--dimensions-11);
    --icon-04: var(--dimensions-12);
    --icon-05: var(--dimensions-13);
    --icon-06: var(--dimensions-15);
    --icon-07: var(--dimensions-18);
    --icon-background-padding-sm: var(--dimensions-05);
    --icon-background-padding-lg: var(--dimensions-07);
    --icon-background-radius: var(--radius-08);
    --layout-page-spacing-top: var(--dimensions-13);
    --layout-page-spacing-x: 1.5rem;
    --layout-common-device-width: 48rem;
    --layout-common-device-height: 64rem;
    --layout-container-max-width-xs: 33.75rem;
    --layout-container-max-width-sm: 45rem;
    --layout-container-max-width-md: 60rem;
    --layout-container-max-width-lg: 71.25rem;
    --layout-container-max-width-xl: 82.5rem;
    --layout-container-max-width-xxl: 90rem;
    --layout-footer-item-vertical-spacing: var(--dimensions-05);
    --layout-footer-padding-x: var(--dimensions-16);
    --layout-footer-padding-y: var(--dimensions-16);
    --layout-footer-bottom-padding-y: var(--dimensions-05);
    --layout-footer-bottom-padding-x: var(--layout-page-spacing-x);
    --layout-footer-col-padding-x: var(--dimensions-07);
    --layout-grid-column-gutter: var(--dimensions-13);
    --layout-grid-column-offset: 1.5rem;
    --layout-grid-column-width: 14rem;
    --layout-grid-gutters-02: var(--dimensions-02);
    --layout-grid-gutters-04: var(--dimensions-03);
    --layout-grid-gutters-08: var(--dimensions-05);
    --layout-grid-gutters-12: var(--dimensions-07);
    --layout-grid-gutters-16: var(--dimensions-10);
    --layout-grid-gutters-24: var(--dimensions-13);
    --layout-grid-gutters-32: var(--dimensions-14);
    --layout-grid-gutters-48: var(--dimensions-18);
    --layout-header-padding-y-sm: var(--dimensions-07);
    --layout-header-padding-y: var(--dimensions-10);
    --layout-header-padding-left: var(--dimensions-13);
    --layout-header-padding-right: var(--dimensions-13);
    --layout-header-profile-icon: var(--icon-06);
    --layout-header-min-height: 3.5rem;
    --layout-header-mobile-button-size: var(--dimensions-19);
    --layout-header-items-right-gutter-x: var(--dimensions-10);
    --layout-header-items-center-gutter-x: var(--dimensions-13);
    --layout-header-modal-item-padding: var(--dimensions-10);
    --link-icon-padding-top: var(--dimensions-02);
    --link-icon-padding-y: var(--dimensions-03);
    --link-inner-spacing-x: var(--dimensions-03);
    --link-link-sm-height: var(--body-regular-line-height);
    --list-icon-padding-y: var(--dimensions-05);
    --list-icon-size: var(--icon-00);
    --list-inner-spacing-x: var(--dimensions-05);
    --list-list-item-margin-y: var(--dimensions-05);
    --list-padding-left-level-1: var(--dimensions-10);
    --list-padding-left-level-2: var(--dimensions-14);
    --list-padding-left-level-3: var(--dimensions-18);
    --loader-skeleton-radius: var(--radius-02-default);
    --loader-skeleton-inner-spacing-y: var(--dimensions-10);
    --loader-skeleton-height-100: 1.5rem;
    --loader-skeleton-height-200: 2rem;
    --loader-skeleton-height-300: 2.25rem;
    --loader-skeleton-height-400: 2.875rem;
    --loader-skeleton-height-500: 6.25rem;
    --loader-spinner-page-spacing-top: var(--dimensions-22);
    --loader-spinner-sizing-sm: var(--dimensions-06);
    --loader-spinner-sizing-md: var(--dimensions-10);
    --loader-spinner-sizing-lg: var(--dimensions-18);
    --modal-radius: var(--card-radius-rounded);
    --modal-top-margin: var(--dimensions-16);
    --modal-body-padding-sm: var(--modal-heading-padding-x-sm);
    --modal-body-padding: var(--dimensions-13);
    --modal-footer-padding-y-sm: var(--dimensions-05);
    --modal-footer-padding-x-sm: var(--modal-heading-padding-x-sm);
    --modal-footer-padding-y: var(--dimensions-10);
    --modal-footer-padding-x: var(--dimensions-13);
    --modal-heading-padding-y-sm: var(--dimensions-05);
    --modal-heading-padding-x-sm: var(--dimensions-10);
    --modal-heading-padding-y: var(--dimensions-10);
    --modal-heading-padding-x: var(--dimensions-13);
    --modal-max-width-xs: var(--containers-05);
    --modal-max-width-sm: var(--containers-08);
    --modal-max-width-md: var(--containers-09);
    --modal-max-width-lg: var(--containers-11);
    --modal-max-width-xl: var(--containers-13);
    --pagination-padding-y: 0.75rem;
    --pagination-padding-x: 0.875rem;
    --pagination-button-size: var(--button-xs-icon-size);
    --popover-padding-xs: var(--card-padding-xs);
    --popover-padding-md: var(--card-padding-lg);
    --popover-padding-sm: var(--card-padding-md-default);
    --popover-radius-rounded: var(--card-radius-rounded);
    --popover-width-01: var(--containers-02);
    --popover-width-02: var(--containers-06);
    --popover-width-03: var(--containers-10);
    --progress-bar-height-sm: var(--dimensions-03);
    --progress-bar-radius: var(--form-slider-radius);
    --progress-bar-height: var(--form-slider-height);
    --separator-spacing-y-01: var(--dimensions-03);
    --separator-spacing-x-01: var(--dimensions-04);
    --separator-spacing-y-02: var(--dimensions-05);
    --separator-spacing-x-02: var(--dimensions-07);
    --separator-spacing-y-03: var(--dimensions-10);
    --separator-spacing-x-03: var(--dimensions-13);
    --separator-spacing-y-04: var(--dimensions-13);
    --separator-dotted-line-width: var(--dimensions-01);
    --separator-dotted-dot-xs: var(--dimensions-02);
    --separator-dotted-dot-sm: var(--dimensions-03);
    --separator-dotted-dot-md: 0.5625rem;
    --separator-dotted-dot-lg: 0.9375rem;
    --separator-top-spacing-large-dot-sm: var(--dimensions-03);
    --separator-top-spacing-large-dot-md: 0.9688rem;
    --separator-top-spacing-large-dot-lg: 1.3125rem;
    --separator-top-spacing-small-dot-sm: var(--dimensions-05);
    --separator-top-spacing-small-dot-md: var(--dimensions-06);
    --separator-top-spacing-small-dot-lg: var(--dimensions-13);
    --side-navigation-text-size-sm: var(--body-small-regular-size);
    --side-navigation-text-size: var(--body-regular-size);
    --side-navigation-item-inner-spacing-sm: var(--dimensions-05);
    --side-navigation-item-padding-x-sm: var(--dimensions-05);
    --side-navigation-item-inner-spacing: var(--dimensions-10);
    --side-navigation-item-padding-left-level-1: var(--dimensions-10);
    --side-navigation-item-padding-left-level-2: var(--dimensions-10);
    --side-navigation-item-padding-right: var(--dimensions-10);
    --side-navigation-item-padding-y: var(--dimensions-10);
    --side-navigation-item-padding-y-md: var(--dimensions-10);
    --side-navigation-item-padding-y-sm: var(--dimensions-10);
    --side-navigation-item-icon: var(--icon-05);
    --side-navigation-item-icon-md: var(--icon-05);
    --side-navigation-item-icon-sm: var(--icon-05);
    --side-navigation-item-min-height-small: var(--dimensions-16);
    --side-navigation-item-min-height-medium: var(--dimensions-19);
    --side-navigation-item-min-height-large: var(--dimensions-21);
    --side-navigation-item-width-collapsed: 6rem;
    --side-navigation-item-width-default: 25rem;
    --status-indicator-inner-spacing: var(--dimensions-05);
    --status-indicator-sm: var(--dimensions-05);
    --status-indicator-lg: var(--dimensions-07);
    --stepper-item-horizontal-inner-spacing: var(--dimensions-05);
    --stepper-item-horizontal-padding-y: var(--dimensions-05);
    --stepper-item-horizontal-padding-x: var(--dimensions-10);
    --stepper-item-horizontal-min-height: var(--dimensions-16);
    --stepper-item-vertical-padding-y-sm: 0.125rem;
    --stepper-item-vertical-line-height: 0.375rem;
    --stepper-item-vertical-sub-line-bottom: 0.5625rem;
    --stepper-item-vertical-sub-line-top: 0.5938rem;
    --stepper-item-vertical-compact-padding-top: 0.1875rem;
    --stepper-item-vertical-compact-inner-spacing: var(--dimensions-04);
    --stepper-item-vertical-compact-sub-item-indicator-width: var(--dimensions-10);
    --stepper-item-vertical-compact-min-height-first-item: 1.8125rem;
    --stepper-item-vertical-compact-min-height: 2rem;
    --stepper-item-vertical-lg-inner-spacing: var(--dimensions-05);
    --stepper-item-vertical-lg-padding-top: 0.5rem;
    --stepper-item-vertical-lg-sub-item-indicator-width: var(--dimensions-13);
    --stepper-item-vertical-lg-min-height-first-item: 2rem;
    --stepper-item-vertical-lg-min-height: 2.5rem;
    --stepper-item-vertical-step-size-sm: var(--separator-dotted-dot-md);
    --stepper-item-vertical-step-size-md: 1rem;
    --stepper-item-vertical-step-size-lg: 1.5rem;
    --tab-top-radius: var(--card-radius-rounded);
    --tab-inner-spacing: var(--dimensions-05);
    --tab-spacing-x: var(--dimensions-10);
    --tab-spacing-y: var(--tab-spacing-x);
    --tab-icon: 1.125rem;
    --table-radius: var(--radius-02-default);
    --table-of-contents-padding-left-level-1: var(--dimensions-10);
    --table-of-contents-padding-left-level-2: var(--dimensions-14);
    --table-of-contents-width: var(--containers-04);
    --table-data-padding-y-sm: 0.25rem;
    --table-data-padding-x-sm: 0.5rem;
    --table-data-padding-y: 0.75rem;
    --table-data-padding-x: 0.875rem;
    --table-header-padding-x-sm: 0.5rem;
    --table-header-padding-y: 0.75rem;
    --table-header-padding-y-sm: 0.75rem;
    --table-header-padding-x: 0.875rem;
    --tag-default-padding-y: var(--dimensions-02);
    --tag-default-padding-x: var(--dimensions-03);
    --tag-default-radius: var(--radius-02-default);
    --tag-default-loader-padding-y: var(--dimensions-04);
    --tag-status-icon-padding-x: var(--dimensions-03);
    --tag-status-icon-padding-y: var(--dimensions-03);
    --tag-status-large-padding-x: var(--dimensions-05);
    --tag-status-large-padding-y: var(--dimensions-05);
    --tag-status-large-min-width: var(--dimensions-21);
    --text-group-label-width-sm: 8.25rem;
    --text-group-label-width-md: 10.25rem;
    --text-group-label-width-lg: 12.25rem;
    --text-group-value-inner-spacing: var(--dimensions-04);
    --text-group-value-icon-padding-top: var(--dimensions-03);
    --timeline-padding-y: var(--dimensions-05);
    --timeline-text-min-height: var(--dimensions-13);
    --timeline-date-container-width: 6.5625rem;
    --toast-margin-left: var(--dimensions-00);
    --toast-inner-spacing-y: var(--alert-default-inner-spacing-y);
    --toast-outer-spacing: var(--dimensions-03);
    --toast-margin-bottom: var(--dimensions-10);
    --toast-margin-right: var(--dimensions-10);
    --toast-padding-y: var(--alert-default-padding-y);
    --toast-padding-x: var(--alert-default-padding-x);
    --toast-width: var(--containers-03);
    --tooltip-radius: var(--card-radius-rounded);
    --tooltip-padding-x: var(--card-padding-xs);
    --tooltip-padding-y: var(--tooltip-padding-x);
    --tooltip-max-width: var(--containers-02);
  }
}

@media (width >= 62rem) {
  :root {
    --alert-radius: var(--card-radius-rounded);
    --alert-default-padding-x-sm: var(--dimensions-05);
    --alert-default-padding-y-sm: var(--dimensions-05);
    --alert-default-padding-y: var(--dimensions-10);
    --alert-default-icon-size: var(--button-icon-inner-size);
    --alert-default-padding-x: 1.25rem;
    --alert-default-icon-container-height: var(--dimensions-13);
    --alert-illustrative-padding-y: var(--dimensions-07);
    --alert-illustrative-inner-spacing-x: var(--dimensions-10);
    --alert-illustrative-padding-x: var(--alert-default-padding-x);
    --alert-illustrative-min-width: 23.75rem;
    --alert-illustrative-text-max-width: 46.75rem;
    --avatar-size-sm: var(--dimensions-13);
    --avatar-size-md: var(--dimensions-14);
    --avatar-size-lg: var(--dimensions-16);
    --breadcrumb-inner-spacing: var(--dimensions-03);
    --breadcrumb-spacing-bottom: var(--dimensions-13);
    --button-group-icon-container-height: var(--dimensions-13);
    --button-gutter-x-sm: var(--dimensions-05);
    --button-gutter-x: var(--dimensions-10);
    --button-gutter-y: var(--dimensions-10);
    --button-icon-inner-icon-only-size: var(--dimensions-11);
    --button-icon-inner-size: var(--dimensions-11);
    --button-lg-inner-spacing: var(--dimensions-04);
    --button-lg-padding-y: var(--dimensions-06);
    --button-lg-padding-x: var(--dimensions-11);
    --button-lg-icon-padding: var(--dimensions-03);
    --button-lg-icon-size: var(--dimensions-17);
    --button-md-inner-spacing: var(--dimensions-04);
    --button-md-padding-y: var(--dimensions-05);
    --button-md-padding-x: var(--dimensions-11);
    --button-md-height: var(--dimensions-16);
    --button-md-icon-padding: var(--dimensions-03);
    --button-md-icon-size: var(--dimensions-16);
    --button-md-neutral-padding-x: var(--dimensions-00);
    --button-md-neutral-padding-y: var(--dimensions-05);
    --button-radius-sm: var(--radius-02-default);
    --button-radius-default: var(--radius-08);
    --button-sm-inner-spacing: var(--dimensions-03);
    --button-sm-padding-y: var(--dimensions-03);
    --button-sm-padding-x: var(--dimensions-09);
    --button-sm-height: var(--dimensions-14);
    --button-sm-icon-padding: var(--dimensions-00);
    --button-sm-icon-size: var(--dimensions-14);
    --button-sm-neutral-padding-x: var(--dimensions-00);
    --button-sm-neutral-padding-y: var(--dimensions-03);
    --button-text-size-sm: var(--body-small-regular-size);
    --button-text-size-default: var(--body-regular-size);
    --button-width-min-sm: var(--dimensions-21);
    --button-width-min: var(--dimensions-23);
    --button-width-max: var(--dimensions-25);
    --button-xl-inner-spacing: var(--dimensions-04);
    --button-xl-padding-y: var(--dimensions-07);
    --button-xl-padding-x: var(--dimensions-11);
    --button-xl-icon-padding: var(--dimensions-05);
    --button-xl-icon-size: var(--dimensions-18);
    --button-xs-icon-inner-size: var(--dimensions-10);
    --button-xs-icon-size: var(--dimensions-13);
    --button-xxs-icon-size: var(--dimensions-10);
    --card-padding-xxs: var(--dimensions-03);
    --card-padding-xs: var(--dimensions-05);
    --card-padding-sm: var(--dimensions-07);
    --card-padding-md-default: var(--dimensions-10);
    --card-padding-lg: var(--dimensions-13);
    --card-radius-sharp: var(--radius-00);
    --card-radius-rounded: var(--radius-02-default);
    --carousel-indicator-height: var(--dimensions-05);
    --carousel-indicator-width: var(--dimensions-12);
    --content-heading-icon-padding-top: var(--dimensions-02);
    --content-heading-inner-spacing-x: var(--dimensions-05);
    --content-label-inner-spacing-x: var(--dimensions-02);
    --content-label-info-icon-padding-y: var(--dimensions-03);
    --content-label-label-sm-height: var(--dimensions-13);
    --dropdown-max-height: 37.5rem;
    --dropdown-body-padding-y: var(--dimensions-05);
    --dropdown-body-padding-x: var(--dimensions-07);
    --dropdown-group-label-padding-y: var(--dropdown-item-padding-y);
    --dropdown-group-label-padding-x: var(--dropdown-item-padding-x);
    --dropdown-item-radius: var(--radius-02-default);
    --dropdown-item-inner-spacing: var(--dimensions-05);
    --dropdown-item-padding-y: var(--dimensions-05);
    --dropdown-item-padding-x: var(--dimensions-07);
    --empty-state-inner-spacing-y-sm: var(--dimensions-03);
    --empty-state-radius: var(--radius-02-default);
    --empty-state-inner-spacing-y-md: var(--dimensions-05);
    --empty-state-inner-spacing-y-lg: var(--dimensions-10);
    --empty-state-padding-sm: var(--dimensions-10);
    --empty-state-padding: var(--dimensions-13);
    --file-dropzone-padding-x: var(--dimensions-13);
    --file-dropzone-padding-y: var(--dimensions-13);
    --filter-default-inner-spacing: var(--dimensions-02);
    --filter-default-padding-y: var(--dimensions-03);
    --filter-default-padding-x: var(--dimensions-04);
    --filter-sm-inner-spacing: var(--dimensions-02);
    --filter-sm-padding-y: var(--dimensions-02);
    --filter-sm-padding-x: var(--dimensions-03);
    --form-calendar-date-width: 2.5rem;
    --form-checkbox-radio-label-gutter-y: var(--dimensions-00);
    --form-checkbox-radio-gutter-y: var(--dimensions-03);
    --form-checkbox-radio-inner-spacing: var(--dimensions-05);
    --form-checkbox-radio-gutter-x: var(--dimensions-07);
    --form-checkbox-radio-card-radius: var(--radius-02-default);
    --form-checkbox-radio-card-inner-spacing: var(--button-md-inner-spacing);
    --form-checkbox-radio-card-gutter: var(--button-gutter-x-sm);
    --form-checkbox-radio-card-checkbox-icon-padding-y: var(--dimensions-04);
    --form-checkbox-radio-card-checkbox-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
    --form-checkbox-radio-card-checkbox-padding-y: var(--dimensions-05);
    --form-checkbox-radio-card-checkbox-indicator-padding-y: var(--dimensions-07);
    --form-checkbox-radio-card-radio-icon-padding-y: var(--dimensions-04);
    --form-checkbox-radio-card-radio-padding-x: var(--form-checkbox-radio-card-checkbox-padding-y);
    --form-checkbox-radio-card-radio-padding-y: var(--dimensions-05);
    --form-checkbox-radio-card-radio-indicator-padding-y: var(--dimensions-06);
    --form-checkbox-radio-indicator-container-height: var(--dimensions-13);
    --form-checkbox-radio-indicator-radius-checkbox: var(--dimensions-02);
    --form-checkbox-radio-indicator-radius-radio: var(--radius-08);
    --form-checkbox-radio-size-fixed: var(--dimensions-11);
    --form-checkbox-radio-size-responsive: var(--dimensions-11);
    --form-checkbox-radio-size-large: var(--dimensions-13);
    --form-checkbox-radio-subitem-padding-left: var(--dimensions-14);
    --form-field-inner-spacing-sm: var(--dimensions-03);
    --form-field-outer-spacing: var(--dimensions-03);
    --form-field-radius: var(--card-radius-rounded);
    --form-field-inner-spacing: var(--dimensions-05);
    --form-field-button-height-sm: var(--dimensions-13);
    --form-field-button-height: var(--dimensions-14);
    --form-field-height-sm: var(--dimensions-14);
    --form-field-height: var(--dimensions-16);
    --form-field-padding-x-md-default: var(--dimensions-05);
    --form-field-padding-x-lg: var(--dimensions-10);
    --form-field-padding-y-xxs: var(--dimensions-00);
    --form-field-padding-y-xs: var(--dimensions-02);
    --form-field-padding-y-md-has-button: var(--dimensions-03);
    --form-field-padding-y-sm: var(--dimensions-03);
    --form-field-padding-y-sm-has-button: var(--dimensions-03);
    --form-field-padding-y-md-default: var(--dimensions-05);
    --form-field-padding-y-lg: var(--dimensions-10);
    --form-number-input-min-width: var(--dimensions-22);
    --form-number-min-width: 10.1875rem;
    --form-select-area-radius: var(--radius-02-default);
    --form-select-area-max-height: 18.75rem;
    --form-slider-radius: var(--radius-02-default);
    --form-slider-height: var(--dimensions-05);
    --form-slider-inner-spacing: var(--dimensions-07);
    --form-slider-thumb-size: var(--dimensions-13);
    --form-textarea-min-height: 8.5rem;
    --form-toggl-padding: var(--dimensions-02);
    --form-toggl-radius: var(--radius-04);
    --form-toggl-default-margin-y: var(--dimensions-02);
    --form-toggl-default-indicator: var(--dimensions-10);
    --form-toggl-default-height: 1.25rem;
    --form-toggl-default-width: var(--dimensions-16);
    --form-toggl-large-indicator: 1.5rem;
    --form-toggl-large-height: 1.75rem;
    --form-toggl-large-width: 3.5rem;
    --general-selected-border-width: var(--borders-02);
    --icon-00: var(--dimensions-05);
    --icon-01: var(--dimensions-07);
    --icon-02: var(--dimensions-10);
    --icon-03: var(--dimensions-11);
    --icon-04: var(--dimensions-12);
    --icon-05: var(--dimensions-13);
    --icon-06: var(--dimensions-15);
    --icon-07: var(--dimensions-18);
    --icon-background-padding-sm: var(--dimensions-05);
    --icon-background-padding-lg: var(--dimensions-07);
    --icon-background-radius: var(--radius-08);
    --layout-page-spacing-top: var(--dimensions-13);
    --layout-page-spacing-x: 2.5rem;
    --layout-common-device-height: 67.5rem;
    --layout-common-device-width: 120rem;
    --layout-container-max-width-xs: 33.75rem;
    --layout-container-max-width-sm: 45rem;
    --layout-container-max-width-md: 60rem;
    --layout-container-max-width-lg: 71.25rem;
    --layout-container-max-width-xl: 82.5rem;
    --layout-container-max-width-xxl: 90rem;
    --layout-footer-item-vertical-spacing: var(--dimensions-05);
    --layout-footer-padding-x: var(--dimensions-16);
    --layout-footer-padding-y: var(--dimensions-16);
    --layout-footer-bottom-padding-y: var(--dimensions-05);
    --layout-footer-bottom-padding-x: var(--layout-page-spacing-x);
    --layout-footer-col-padding-x: var(--dimensions-07);
    --layout-grid-column-gutter: var(--dimensions-13);
    --layout-grid-column-offset: 2.5rem;
    --layout-grid-column-width: 29rem;
    --layout-grid-gutters-02: var(--dimensions-02);
    --layout-grid-gutters-04: var(--dimensions-03);
    --layout-grid-gutters-08: var(--dimensions-05);
    --layout-grid-gutters-12: var(--dimensions-07);
    --layout-grid-gutters-16: var(--dimensions-10);
    --layout-grid-gutters-24: var(--dimensions-13);
    --layout-grid-gutters-32: var(--dimensions-14);
    --layout-grid-gutters-48: var(--dimensions-18);
    --layout-header-padding-y-sm: var(--dimensions-07);
    --layout-header-padding-y: var(--dimensions-10);
    --layout-header-padding-left: var(--dimensions-13);
    --layout-header-padding-right: var(--dimensions-13);
    --layout-header-profile-icon: var(--icon-06);
    --layout-header-mobile-button-size: var(--dimensions-19);
    --layout-header-min-height: 5.25rem;
    --layout-header-items-right-gutter-x: var(--dimensions-13);
    --layout-header-items-center-gutter-x: var(--dimensions-18);
    --layout-header-modal-item-padding: var(--dimensions-10);
    --link-icon-padding-top: var(--dimensions-02);
    --link-icon-padding-y: var(--dimensions-03);
    --link-inner-spacing-x: var(--dimensions-03);
    --link-link-sm-height: var(--body-regular-line-height);
    --list-icon-padding-y: var(--dimensions-05);
    --list-icon-size: var(--icon-00);
    --list-inner-spacing-x: var(--dimensions-05);
    --list-list-item-margin-y: var(--dimensions-05);
    --list-padding-left-level-1: var(--dimensions-10);
    --list-padding-left-level-2: var(--dimensions-14);
    --list-padding-left-level-3: var(--dimensions-18);
    --loader-skeleton-radius: var(--radius-02-default);
    --loader-skeleton-inner-spacing-y: var(--dimensions-10);
    --loader-skeleton-height-100: 1.5rem;
    --loader-skeleton-height-200: 2rem;
    --loader-skeleton-height-300: 2.25rem;
    --loader-skeleton-height-400: 2.875rem;
    --loader-skeleton-height-500: 6.25rem;
    --loader-spinner-page-spacing-top: var(--dimensions-22);
    --loader-spinner-sizing-sm: var(--dimensions-06);
    --loader-spinner-sizing-md: var(--dimensions-10);
    --loader-spinner-sizing-lg: var(--dimensions-18);
    --modal-radius: var(--card-radius-rounded);
    --modal-top-margin: 7.5rem;
    --modal-body-padding-sm: var(--modal-heading-padding-x-sm);
    --modal-body-padding: var(--dimensions-13);
    --modal-footer-padding-y-sm: var(--dimensions-05);
    --modal-footer-padding-x-sm: var(--modal-heading-padding-x-sm);
    --modal-footer-padding-y: var(--dimensions-10);
    --modal-footer-padding-x: var(--dimensions-13);
    --modal-heading-padding-y-sm: var(--dimensions-05);
    --modal-heading-padding-x-sm: var(--dimensions-10);
    --modal-heading-padding-y: var(--dimensions-10);
    --modal-heading-padding-x: var(--dimensions-13);
    --modal-max-width-xs: var(--containers-05);
    --modal-max-width-sm: var(--containers-08);
    --modal-max-width-md: var(--containers-09);
    --modal-max-width-lg: var(--containers-11);
    --modal-max-width-xl: var(--containers-13);
    --pagination-padding-y: 0.75rem;
    --pagination-padding-x: 0.875rem;
    --pagination-button-size: var(--button-xs-icon-size);
    --popover-padding-xs: var(--card-padding-xs);
    --popover-padding-sm: var(--card-padding-md-default);
    --popover-padding-md: var(--card-padding-lg);
    --popover-radius-rounded: var(--card-radius-rounded);
    --popover-width-01: var(--containers-02);
    --popover-width-02: var(--containers-06);
    --popover-width-03: var(--containers-10);
    --progress-bar-height-sm: var(--dimensions-03);
    --progress-bar-radius: var(--form-slider-radius);
    --progress-bar-height: var(--form-slider-height);
    --separator-spacing-y-01: var(--dimensions-03);
    --separator-spacing-x-01: var(--dimensions-04);
    --separator-spacing-y-02: var(--dimensions-05);
    --separator-spacing-x-02: var(--dimensions-07);
    --separator-spacing-y-03: var(--dimensions-10);
    --separator-spacing-x-03: var(--dimensions-13);
    --separator-spacing-y-04: var(--dimensions-13);
    --separator-dotted-line-width: var(--dimensions-01);
    --separator-dotted-dot-xs: var(--dimensions-02);
    --separator-dotted-dot-sm: var(--dimensions-03);
    --separator-dotted-dot-md: 0.5625rem;
    --separator-dotted-dot-lg: 0.9375rem;
    --separator-top-spacing-large-dot-sm: var(--dimensions-03);
    --separator-top-spacing-large-dot-md: 0.9688rem;
    --separator-top-spacing-large-dot-lg: 1.3125rem;
    --separator-top-spacing-small-dot-sm: var(--dimensions-05);
    --separator-top-spacing-small-dot-md: var(--dimensions-06);
    --separator-top-spacing-small-dot-lg: var(--dimensions-13);
    --side-navigation-text-size-sm: var(--body-small-regular-size);
    --side-navigation-text-size: var(--body-regular-size);
    --side-navigation-item-inner-spacing-sm: var(--dimensions-05);
    --side-navigation-item-padding-x-sm: var(--dimensions-05);
    --side-navigation-item-padding-y-sm: var(--dimensions-05);
    --side-navigation-item-padding-y: var(--dimensions-07);
    --side-navigation-item-inner-spacing: var(--dimensions-10);
    --side-navigation-item-padding-left-level-1: var(--dimensions-10);
    --side-navigation-item-padding-left-level-2: var(--dimensions-10);
    --side-navigation-item-padding-right: var(--dimensions-10);
    --side-navigation-item-padding-y-md: var(--dimensions-10);
    --side-navigation-item-icon-sm: var(--icon-03);
    --side-navigation-item-icon-md: var(--icon-04);
    --side-navigation-item-icon: var(--icon-05);
    --side-navigation-item-min-height-small: var(--dimensions-16);
    --side-navigation-item-min-height-medium: var(--dimensions-19);
    --side-navigation-item-min-height-large: var(--dimensions-21);
    --side-navigation-item-width-collapsed: 6rem;
    --side-navigation-item-width-default: 15rem;
    --status-indicator-inner-spacing: var(--dimensions-05);
    --status-indicator-sm: var(--dimensions-05);
    --status-indicator-lg: var(--dimensions-07);
    --stepper-item-horizontal-inner-spacing: var(--dimensions-05);
    --stepper-item-horizontal-padding-y: var(--dimensions-05);
    --stepper-item-horizontal-padding-x: var(--dimensions-10);
    --stepper-item-horizontal-min-height: var(--dimensions-16);
    --stepper-item-vertical-padding-y-sm: 0.125rem;
    --stepper-item-vertical-line-height: 0.375rem;
    --stepper-item-vertical-sub-line-bottom: 0.5625rem;
    --stepper-item-vertical-sub-line-top: 0.5938rem;
    --stepper-item-vertical-compact-padding-top: 0.1875rem;
    --stepper-item-vertical-compact-inner-spacing: var(--dimensions-04);
    --stepper-item-vertical-compact-sub-item-indicator-width: var(--dimensions-10);
    --stepper-item-vertical-compact-min-height-first-item: 1.8125rem;
    --stepper-item-vertical-compact-min-height: 2rem;
    --stepper-item-vertical-lg-inner-spacing: var(--dimensions-05);
    --stepper-item-vertical-lg-padding-top: 0.5rem;
    --stepper-item-vertical-lg-sub-item-indicator-width: var(--dimensions-13);
    --stepper-item-vertical-lg-min-height-first-item: 2rem;
    --stepper-item-vertical-lg-min-height: 2.5rem;
    --stepper-item-vertical-step-size-sm: var(--separator-dotted-dot-md);
    --stepper-item-vertical-step-size-md: 1rem;
    --stepper-item-vertical-step-size-lg: 1.5rem;
    --tab-top-radius: var(--card-radius-rounded);
    --tab-inner-spacing: var(--dimensions-05);
    --tab-spacing-x: var(--dimensions-10);
    --tab-spacing-y: var(--tab-spacing-x);
    --tab-icon: 1.125rem;
    --table-radius: var(--radius-02-default);
    --table-of-contents-padding-left-level-1: var(--dimensions-10);
    --table-of-contents-padding-left-level-2: var(--dimensions-14);
    --table-of-contents-width: var(--containers-04);
    --table-data-padding-y-sm: 0.25rem;
    --table-data-padding-x-sm: 0.5rem;
    --table-data-padding-y: 0.75rem;
    --table-data-padding-x: 0.875rem;
    --table-header-padding-x-sm: 0.5rem;
    --table-header-padding-y: 0.75rem;
    --table-header-padding-y-sm: 0.75rem;
    --table-header-padding-x: 0.875rem;
    --tag-default-padding-y: var(--dimensions-02);
    --tag-default-padding-x: var(--dimensions-03);
    --tag-default-radius: var(--radius-02-default);
    --tag-default-loader-padding-y: var(--dimensions-04);
    --tag-status-icon-padding-x: var(--dimensions-03);
    --tag-status-icon-padding-y: var(--dimensions-03);
    --tag-status-large-padding-x: var(--dimensions-05);
    --tag-status-large-padding-y: var(--dimensions-05);
    --tag-status-large-min-width: var(--dimensions-21);
    --text-group-label-width-sm: 8.25rem;
    --text-group-label-width-md: 10.25rem;
    --text-group-label-width-lg: 12.25rem;
    --text-group-value-inner-spacing: var(--dimensions-04);
    --text-group-value-icon-padding-top: var(--dimensions-03);
    --timeline-padding-y: var(--dimensions-05);
    --timeline-text-min-height: var(--dimensions-13);
    --timeline-date-container-width: 6.5625rem;
    --toast-margin-left: var(--dimensions-00);
    --toast-inner-spacing-y: var(--alert-default-inner-spacing-y);
    --toast-outer-spacing: var(--dimensions-03);
    --toast-margin-bottom: var(--dimensions-10);
    --toast-margin-right: var(--dimensions-10);
    --toast-padding-y: var(--alert-default-padding-y);
    --toast-padding-x: var(--alert-default-padding-x);
    --toast-width: var(--containers-03);
    --tooltip-radius: var(--card-radius-rounded);
    --tooltip-padding-x: var(--card-padding-xs);
    --tooltip-padding-y: var(--tooltip-padding-x);
    --tooltip-max-width: var(--containers-02);
  }
}
