.tedi-theme--default,
:root {
  --family-default: var(--tedi-family-roboto);
  --family-heading: var(--tedi-family-roboto);
  --body-regular-weight: var(--tedi-weight-02);
  --body-regular-size: var(--tedi-size-02);
  --body-regular-line-height: var(--tedi-line-height-03);
  --heading-subtitle-regular-weight: var(--tedi-weight-04);
  --heading-subtitle-regular-size: var(--tedi-size-02);
  --heading-subtitle-regular-line-height: var(--tedi-line-height-03);
  --heading-h1-weight: var(--tedi-weight-01);
  --heading-h2-weight: var(--tedi-weight-02);
  --heading-h2-size: var(--tedi-size-07);
  --heading-h2-line-height: var(--tedi-line-height-08);
  --heading-h3-weight: var(--tedi-weight-02);
  --heading-h3-size: var(--tedi-size-06);
  --heading-h3-line-height: var(--tedi-line-height-07);
  --heading-h4-weight: var(--tedi-weight-02);
  --heading-h4-size: var(--tedi-size-04);
  --heading-h4-line-height: var(--tedi-line-height-04);
  --heading-h5-weight: var(--tedi-weight-02);
  --heading-h5-size: var(--tedi-size-03);
  --heading-h5-line-height: var(--tedi-line-height-03);
  --heading-h6-weight: var(--tedi-weight-04);
  --heading-h6-size: var(--tedi-size-02);
  --heading-h6-line-height: var(--tedi-line-height-03);
  --heading-h1-size: var(--tedi-size-09);
  --heading-h1-line-height: var(--tedi-line-height-10);
  --body-bold-weight: var(--tedi-weight-04);
  --body-bold-size: var(--tedi-size-02);
  --body-bold-line-height: var(--tedi-line-height-03);
  --body-small-regular-weight: var(--tedi-weight-02);
  --body-small-regular-size: var(--tedi-size-01);
  --body-small-regular-line-height: var(--tedi-line-height-01);
  --body-small-bold-weight: var(--tedi-weight-04);
  --body-extra-small-bold-size: var(--tedi-size-00);
  --body-extra-small-bold-weight: var(--tedi-weight-04);
  --body-extra-small-bold-line-height: var(--tedi-line-height-00);
  --body-small-bold-size: var(--tedi-size-01);
  --body-small-bold-line-height: var(--tedi-line-height-01);
  --heading-subtitle-small-weight: var(--tedi-weight-02);
  --heading-subtitle-small-size: var(--tedi-size-01);
  --heading-subtitle-small-line-height: var(--tedi-line-height-01);
  --body-extra-small-size: var(--tedi-size-00);
  --body-extra-small-weight: var(--tedi-weight-02);
  --body-extra-small-line-height: var(--tedi-line-height-00);
  --body-link-line-height: var(--body-regular-line-height);
  --body-link-size-small: var(--body-small-regular-size);
  --body-link-size-regular: var(--body-regular-size);
  --body-link-size-responsive: var(--body-small-regular-size);

@media (width < 48rem) {
  --family-default: var(--tedi-family-roboto);
  --family-heading: var(--tedi-family-roboto);
  --body-regular-weight: var(--tedi-weight-02);
  --body-regular-size: var(--tedi-size-02);
  --body-regular-line-height: var(--tedi-line-height-03);
  --heading-subtitle-regular-weight: var(--tedi-weight-04);
  --heading-subtitle-regular-size: var(--tedi-size-02);
  --heading-subtitle-regular-line-height: var(--tedi-line-height-03);
  --heading-h1-weight: var(--tedi-weight-01);
  --heading-h2-weight: var(--tedi-weight-02);
  --heading-h2-size: var(--tedi-size-05);
  --heading-h2-line-height: var(--tedi-line-height-05);
  --heading-h3-weight: var(--tedi-weight-02);
  --heading-h3-size: var(--tedi-size-04);
  --heading-h3-line-height: var(--tedi-line-height-04);
  --heading-h4-weight: var(--tedi-weight-02);
  --heading-h4-size: var(--tedi-size-03);
  --heading-h4-line-height: var(--tedi-line-height-03);
  --heading-h5-weight: var(--tedi-weight-04);
  --heading-h5-size: var(--tedi-size-02);
  --heading-h5-line-height: var(--tedi-line-height-03);
  --heading-h6-weight: var(--tedi-weight-04);
  --heading-h6-size: var(--tedi-size-02);
  --heading-h6-line-height: var(--tedi-line-height-03);
  --heading-h1-size: var(--tedi-size-06);
  --heading-h1-line-height: var(--tedi-line-height-07);
  --body-bold-weight: var(--tedi-weight-04);
  --body-bold-size: var(--tedi-size-02);
  --body-bold-line-height: var(--tedi-line-height-03);
  --body-small-regular-weight: var(--tedi-weight-02);
  --body-small-regular-size: var(--tedi-size-01);
  --body-small-regular-line-height: var(--tedi-line-height-01);
  --body-small-bold-weight: var(--tedi-weight-04);
  --body-extra-small-bold-size: var(--tedi-size-00);
  --body-extra-small-bold-weight: var(--tedi-weight-04);
  --body-extra-small-bold-line-height: var(--tedi-line-height-00);
  --body-small-bold-size: var(--tedi-size-01);
  --body-small-bold-line-height: var(--tedi-line-height-01);
  --heading-subtitle-small-weight: var(--tedi-weight-02);
  --heading-subtitle-small-size: var(--tedi-size-01);
  --heading-subtitle-small-line-height: var(--tedi-line-height-01);
  --body-extra-small-size: var(--tedi-size-00);
  --body-extra-small-weight: var(--tedi-weight-02);
  --body-extra-small-line-height: var(--tedi-line-height-00);
  --body-link-line-height: var(--body-regular-line-height);
  --body-link-size-small: var(--body-small-regular-size);
  --body-link-size-regular: var(--body-regular-size);
  --body-link-size-responsive: var(--body-regular-size);
}
}
