@use 'sass:string';
@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin print-grayscale {
  /* stylelint-disable no-invalid-position-declaration */
  @media print {
    filter: grayscale(1);
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip-path: rect(1px, 1px, 1px, 1px);
}

@mixin table-cell-selector($selector: 'all') {
  @if $selector == 'thead' or $selector == 'all' {
    & > thead > tr > th {
      @content;
    }
  }

  @if $selector == 'tbody' or $selector == 'all' {
    & > tbody > tr > td {
      @content;
    }
  }

  @if $selector == 'tfoot' or $selector == 'all' {
    & > tfoot > tr > th {
      @content;
    }
  }
}

@mixin focus-element {
  outline: 2px solid var(--global-outline-color, var(--color-primary-main));
  outline-offset: var(--global-outline-offset, 1px);
  border-radius: 0.25rem;

  html:not([data-whatintent='keyboard']) & {
    outline: none;
  }
}

@mixin button-reset {
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-transparent);
  border: none;

  &:disabled {
    cursor: default;
  }
}
